body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 100px;
  }
  h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
  }

  .tooltip {
    position: absolute;
    padding: 10px 10px;
    border: 1px solid black;
    pointer-events: none;
    font-size: 14px;
    border-radius: 4px;
    background-color: white;
  }

  .legend {
    font-size: 14px;
  }
  .legend-color {
    width: 14px;
    height: 14px;
    margin-right: 6px;
    border-radius: 7px;
    display: inline-block;
  } 
  
  .scene-btn {
    font-size: 16px;
    padding: 6px;
    margin-right: 6px;
    border: none;
    background-color: #ccc;
    border-radius: 4px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
  }
  
  .scene-btn:hover {
    background-color: #eee;
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: row;
  }
  
  /* .slider {
    /* margin-bottom: 40px; */
  /* } */ */

  .legend-container {
    border-style: solid;
   border-color: #000;
   border-width:medium;
   border-radius: 8px;
   padding: 5px;
  }
  
  #annotation {
    margin-top: 20px;
    display: block;
    visibility: visible;
    color: black;
    font-size: 18px;
    border-style: solid;
    border-radius: 9px;
    border-color: black;
    padding: 5px;
  }
  